Decision Tree

Tiatnic Survival Dataset

In [1]:
#Import the Necessary Libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
#Load the data sets- train and test 

df=pd.read_csv('train.csv')

In [3]:
#Look at top values of train data 
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#Print the column names of train data


df.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [33]:
x=df.drop(columns="Survived")
y=df.Survived

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [35]:
#Print the dimension of train and test data
print(x_train.shape)
print(x_test.shape)
print(y_test.shape)
print(y_train.shape)
print(x_train.head)

(712, 11)
(179, 11)
(179,)
(712,)
<bound method NDFrame.head of      PassengerId  Pclass                                        Name     Sex  \
505          506       1  Penasco y Castellana, Mr. Victor de Satode    male
786          787       3                   Sjoblom, Miss. Anna Sofia  female
784          785       3                            Ali, Mr. William    male
671          672       1                      Davidson, Mr. Thornton    male
502          503       3              O'Sullivan, Miss. Bridget Mary  female
..           ...     ...                                         ...     ...
510          511       3                    Daly, Mr. Eugene Patrick    male
69            70       3                           Kink, Mr. Vincenz    male
88            89       1                  Fortune, Miss. Mabel Helen  female
603          604       3                   Torber, Mr. Ernst William    male
166          167       1      Chibnall, Mrs. (Edith Martha Bowerman)  female

      Age  SibSp  Parch              Ticket      Fare        Cabin Embarked
505  18.0      1      0            PC 17758  108.9000          C65        C
786  18.0      0      0             3101265    7.4958          NaN        S
784  25.0      0      0  SOTON/O.Q. 3101312    7.0500          NaN        S
671  31.0      1      0          F.C. 12750   52.0000          B71        S
502   NaN      0      0              330909    7.6292          NaN        Q
..    ...    ...    ...                 ...       ...          ...      ...
510  29.0      0      0              382651    7.7500          NaN        Q
69   26.0      2      0              315151    8.6625          NaN        S
88   23.0      3      2               19950  263.0000  C23 C25 C27        S
603  44.0      0      0              364511    8.0500          NaN        S
166   NaN      0      1              113505   55.0000          E33        S

[712 rows x 11 columns]>

In [11]:
#Print the number of missing values in each column of train and test data

## Data Visualization

In [12]:
#Barchart of Survived, Pclass, Sex, Embarked

In [13]:
#Histogram of Age, Parch, Fare

In [14]:
#Plot histogram of age for survived and did not survived class

In [15]:
#Count class and geder wise survival rate - plot with appropriate chart
#Age wise Distribution of Male and Female passengers

In [16]:
#Histogram of Age of the given data set(sample)

## Handling Missing Values

In [17]:
#Replace the msiing values in Embarked column by 'S'

In [18]:
#Impute the missing values in Fare column with median value

In [19]:
#Impute the Age column. It has too many missing values but it may be important. 
#We fill the missing values with numbers randomly drawn from distribution
#that has same mean and standard deviation as non missing Age data

## Feature Engineering - Creating new features

In [20]:
# Create and add a new feature FamilySize as a combination of SibSp and Parch
#FamilySize = Parch + SibSp + 1

In [21]:
# Create new feature IsAlone from FamilySize
#If FamilySize == 1 then IsAlone = True else IsAlone = False

## Create a new attribute Has_cabin using the attribue Cabin. 
#if Cabin == NaN the Has_cabin = False else Has_cabin = True

In [22]:

#Drop the columns which may not be useful in prediction of survival
#Drop PassengerId, Name, Ticket, and Cabin

## Model Building

In [23]:
#Prepare X and y
x=1
x

1

In [24]:
# Label encoding of categorical features

In [25]:
# concat df_categorical with original df

In [26]:
#Do a pairplot of all features

In [27]:
X

NameError: name 'X' is not defined

In [ ]:
# Splitting the data into train and validation set - 90% train 10% validation
#X_train, X_test, y_train, y_validation

In [ ]:
# Create the model
# Fitting the decision tree with default hyperparameters
# Importing decision tree classifier from sklearn library

In [ ]:
#Print the tree

# Importing required packages for visualization

In [ ]:
# plotting tree with max_depth=3

<img src="tree2.png">

In [ ]:
# Check the evaluation metrics of our default model on validation set - Confusion Matrix, Accuracy, Precision, Recall, F1 score

# Importing classification report and confusion matrix from sklearn metrics

# Making predictions

# Printing classification report

In [ ]:
# Printing confusion matrix and accuracy